@media (max-width: 1001px) {
  .conteiner {
    padding-inline: 24px;
  }
  .form_sec {
    width: 403px;
  }
  .location_sec {
    width: 403px;
  }
}

@media (max-width: 801px) {
  .conteiner {
    padding: 32px 24px;
  }

  .main_sec {
    flex-direction: column;
    gap: 64px;
    padding: 40px 16px;
  }

  .form_sec {
    width: 100%;
  }

  .location_sec {
    width: 100%;
  }
}
